.btn {
  padding: 12px 40px 12px 40px;
  font-family: "Poppins", Sans-serif;
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: $text-primary;
  background-color: transparent;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: transparent;
  border-radius: 50px 50px 50px 50px;
  box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
  transition: .3s;

  &--primary {
    color: #ffffff;
    background-color: $primary;
    border-color: $primary;
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.5);

    &:hover {
      color: $primary;
      background-color: rgba(255,255,255,0);
      border-color: $primary;
    }
  }

  &--outline {
    border-color: $text-primary;
    &:hover {
      border-color: $primary;
    }
  }

  &:hover {
    color: $primary;
    background-color: rgba(255,255,255,0);
  }
}