//$primary: #fe625e; // deep-red
$primary: #5333ed;
$text-primary: #666666;
$text-muted: #aaaaaa;
$text-dark: #222222	;

::selection {
    background: $primary;
    color: #ffffff;
}

a {
	color: $text-primary;
	text-decoration: none;
}

.container {
	width: 96%;
	max-width: 1100px;
	margin: 0 auto;
}

.img-responsive {
	display: block;
	max-width: 100%;
}

.text-link {
	font-weight: 500;
	color: $text-muted;
	text-decoration: underline;
	transition: .3s;

	&:hover {
		color: $primary;
	}
}

.section-title {
	font-size: 30px !important;
	line-height: 1.7;

	@media screen and (min-width: 768px) {
		font-size: 40px !important;
	}
}