html,
body {
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
    font-size: 16px;
    scroll-behavior: smooth;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

h1,h2 {font-size: 40px;}

.f-300 { font-weight: 300; }
.f-400 { font-weight: 400; }
.f-600 { font-weight: 600; }

.heading { font-family: 'Poppins', sans-serif;}
.text { font-family: 'Rubik', sans-serif;}

.tc { text-align: center; }
.tl { text-align: left; }
.tr { text-align: right; }

.fs-13 { font-size: 13px;}
.fs-14 { font-size: 14px;}
.fs-16 { font-size: 16px;}
.fs-20 { font-size: 20px;}
.fs-25 { font-size: 25px;}
.fs-30 { font-size: 30px;}
.fs-40 { font-size: 40px;}
.fs-50 { font-size: 50px;}
