.section--features {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 65px;

  .features__wrap {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 45px;

    .features__item {
      width: 45%;
      text-align: center;
      padding: 20px;
      transition: .3s;
      background: transparent;
      border-radius: 4px;
      box-shadow: none;

      &:hover {
        background: $primary;
        border-radius: 4px;
        box-shadow: 0 10px 20px rgba(#000, .2);

        * {
          color: #fff;
        }

        svg {
          * {
            fill: #fff;
            stroke: #fff;
          }
        }
      }

      &__icon {
        margin-bottom: 15px;
        svg {
          width: 40px;
        }
      }

      &__title {
        margin-bottom: 15px;
        font-size: 18px;
        font-weight: 600;
        font-family: "Poppins", Sans-serif;
        line-height: 1.6;
      }

      &__desc {
        line-height: 1.6;
      }

    } // features item end
  } // features wrap end
}

@media screen and (min-width: 768px) {
  .section--features {
    margin-top: 0;

    .features__wrap {
      justify-content: space-between;

      .features__item {
        width: 30%;
        padding: 20px;
      }
    }
  }
}

@media screen and (min-width: 1100px) {
  .section--features {
    .features__wrap {
      justify-content: space-between;

      .features__item {
        width: 30%;
        padding: 35px;
      }
    }
  }
}