.section--footer {
  padding: 65px 0;

  .container.top {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
  }

  .brand {
    width: 100%;
    margin-bottom: 45px;

    * {
      font-size: 20px;
    }
  }

  .more-links {
    text-align: center;
    width: 100%;
    margin-bottom: 35px;

    .links {
      margin-top: 25px;
      a {
        display: block;
        margin: 10px 0;
      }
    }
  }

  .copy {
    padding-top: 35px;
    margin-top: 45px;
    border-top: 1px solid #ebebeb;
    font-size: 14px;
  }
}

@media screen and (min-width: 700px) {
  .section--footer {
    padding: 65px 0;

    .container.top {
      justify-content: space-between;
    }

    .brand {
      width: auto;
      margin-bottom: 0;
    }

    .more-links {
      text-align: left;
      width: auto;
      margin-bottom: 0;

      .links {
        margin-top: 25px;
        a {
          display: block;
          margin: 10px 0;
        }
      }
    }
  }
}