.site-header {
	background: #fff;
	padding: 15px;
	position: sticky;
	top: 0;
	width: 100%;
	z-index: 999;
	text-align: center;

	&.fixed {
		box-shadow: 0 0 2px rgba(#5333ed, .2);
	}

	.container {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
	}

	.brand {
		width: 100%;
		span {
			display: inline-block;
			font-weight: 600;
		}

		* {
			font-size: 20px;
		}

		img {
			max-width: 60px;
			width: 60px;
			margin-right: 15px;
		}
	}

	.main-menu {
		//margin-left: auto;
		margin: 15px 0;
		width: 100%;
	}

	.main-menu__item {
		padding: 5px 10px;
		text-transform: capitalize;
		font-weight: 400;
		font-size: 15px;
		font-family: 'Poppins' , sans-serif;
		letter-spacing: 1px;
		transition: color .3s;
		color: #000;

		&:hover {
			color: $primary;
		}
	}

	.btn {
		//margin-left: 35px;
	}
}

@media screen and (min-width: 700px) {
	.site-header {
		text-align: center;

		.container {
			justify-content: center;
		}

		.main-menu {
			margin: 25px 0 15px 0;
			width: auto;
		}

		.btn {
			margin-left: 10px;
		}
	}
}


@media screen and (min-width: 900px) {
	.site-header {
		text-align: left;

		.container {
			justify-content: space-between;
		}

		.brand {
			width: auto;
		}

		.main-menu {
			margin: 15px 0;
			margin-left: auto;
		}

		.btn {
			margin-left: 35px;
		}
	}
}