#hero {
  // background-image: url("../img/public-speaking.jpg");
  background-image: url("../img/hero-2.jpg");
  background-size: cover;
  // background-position: center center;
  background-position: top left;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media screen and (min-width: 1200px) {
    background-position: top center;
  }
}

.section--hero {
  padding: 85px 0;
  // min-height: 650px;
  min-height: 600px;

  @media screen and (min-width: 900px) {
    min-height: 750px;
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  .left {
    width: 100%;
    padding: 35px;
    //background-color: #fff;
    background-color: $primary;
    border-radius: 4px;
    box-shadow: 0 10px 20px rgba(0,0,0,.2);
  }

  .right {
    width: 100%;
  }

  .selling-title {
    line-height: 1.4;
    span {
      display: block;
      font-size: 50px;
    }
    .title-big {
      font-size: 30px;
    }
  }

  .subtitle {
    margin-top: 25px;
    line-height: 1.8;
  }

  .cta {
    padding-top: 35px;
    .text-link {
      font-size: 13px;
      margin-left: 20px;
    }
  }

  &.section--dark {
    .selling-title {
      color: #fff;
      span {
        color: #fff;
      }
      .title-big {
        color: #fff;
      }
    }

    .subtitle {
      color: #fff;
    }

    .cta {

      .btn.btn--primary {
        border-color: #fff;
        background-color: $primary;
        color: #fff;
        &:hover {
          background-color: white;
          color: $primary;
        }
      }
      .text-link {
        color: #fff;
        opacity: .7;
        &:hover {
          opacity: 1;
        }
      }
    }
  }
}

.hero-under {
  margin-top: -50px;
  margin-left: -2px;
  img {
    width: 100%;
  }
}

@media screen and (min-width: 700px) {
  .section--hero {
    .left {
      width: 60%;
    }
    .right {
      width: 40%;
    }
  }
}


@media screen and (min-width: 900px) {
  .section--hero {
    .left {
      width: 50%;
    }
    .right {
      width: 50%;
    }
  }

  .hero-under {
    margin-top: -80px;
  }
}