.section--payment {
	padding: 100px 0;
	background-image: url("../img/pricing-bg-2.png");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
	margin: 25px 0;

	.container {
		max-width: 100%;
		width: 600px;
		// background-color: pink;
		padding: 30px;
	}

	label,
	input  {
		display: block;
		width: 100%;
		font-family: inherit;
	}

	.col {
		margin-bottom: 30px;
	}

	label {
		margin-bottom: 10px;
		font-family: "Poppins", sans-serif;
		font-weight: 500;
	}

	.form-control {
		border: none;
		outline: none;
		background-color: white;
		padding: 10px;
		box-shadow: 0 1px 3px 0 #e6ebf1;
		border: 2px solid $primary;
		border-radius: 4px;

		&:focus {
			border: 2px solid $primary;
			box-shadow: 0 1px 3px 0 #cfd7df;
		}

		&::placeholder {
			color: #bebebe;
			// font-weight: 300;
		}
	}

	.cta .btn {
		margin-top: 10px;
		width: 100%
	}

	.cta--checkbox {
		input {
			display: inline-block;
			margin-right: 10px;
			width: auto;
		}
		a {
			color: $primary;
			&:hover {
				color: lighten($primary, 20%);
			}
		}
	}

	#preloader {
		margin-top: 45px;
		opacity: 0;
		visibility: hidden;
		&.show {
			opacity: 1;
			visibility: visible;
		}
	}

	#card-errors {
		margin-top: 20px;
		color: #ff7979;
	}

	.form-row-names {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		.col {
			width: 48%;
			@media screen and (max-width: 570px) {
				width: 100%;
			}
		}
	}
}

.site-header {
	box-shadow: 0 0 2px rgba(#5333ed, .2);
}
.section--footer {
	border-top: 1px solid #ebebeb;
}