.section--pricing {
  background-image: url("../img/pricing-bg-2.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;

  padding: 85px 0 85px 0;
  margin-top: 0;

  @media screen and (min-width: 768px) {
    margin-top: 100px;
    padding: 100px 0 85px 0;
  }

  @media screen and (min-width: 1024px) {
    margin-top: 150px;
    padding: 155px 0 85px 0;
  }

  .pricing-head {
    h2 {
      margin-bottom: 30px;
    }
  } // pricing head end
}

.pricing-card {
  margin-top: 45px;
  box-shadow: 0 0 20px rgba(0,0,0,.1);
  border-radius: 4px;
  padding: 35px;
  width: 100%;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid $primary;

  #plan-price,
  #plan-interval,
  .plan-features {
    margin-bottom: 25px;
  }

  #plan-price #price,
  #price {
    font-size: 40px;
    font-weight: 700;
  }

  .plan-features {
    margin: 35px 0;
    &__item {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-bottom: 15px;
      &:last-child {
        margin-bottom: 0;
      }
    }
    .pf-icon {
      margin-right: 10px;
      svg {
        width: 30px;
        height: 30px;
      }
    }
  }
} // pricing card end