.section--showoff {
  //padding: 200px 0 180px 0;
  //background-image: url("../img/process-to-win-shape-1.png");
  //background-position: bottom right;
  //background-repeat: no-repeat;
  //background-size: cover;
  background-attachment: scroll;
}