.section--testimonials {
  margin-top: 100px;
  padding: 110px 0 85px 0;
  background-image: url("../img/testimonials-bg.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  color: #fff;

  .title {
    margin-bottom: 60px;
    color: #fff;
  }

  .quote-icon {
    text-align: center;
    margin-bottom: 30px;
    svg {
      height: 50px;
      width: 50px;
      * {
        stroke: #fff;
        fill: #fff;
      }
    }
  }

  .testimonials-slider {
    text-align: center;
    max-width: 620px;
    margin: 0 auto;
    line-height: 2;
    color: #fff;
    position: relative;

    .owl-nav {
      display: none;
    }

    .owl-dots {
      text-align: center;
      -webkit-tap-highlight-color: transparent;
      margin-top: 30px;

      .owl-dot {
        height: 10px;
        width: 10px;
        background-color: #fff;
        border-radius: 25px;
        margin: 0 10px;
        transition: width .3s ease-in-out;

        &.active {
          width: 30px;
        }
      }
    }
  }

  .review-body {
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 1px;
    margin-bottom: 30px;
  }

  .reviewer {
    font-weight: bold;
    font-size: 22px;
    font-family: "Poppins", Sans-serif;
  }
}